In [ ]:
Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train=pd.read_csv("Train (1).csv")
test=pd.read_csv("Test (1).csv")

In [3]:
sample=pd.read_csv("sample_submission.csv")

In [4]:
transaction=sample['TransactionId']

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100 entries, 0 to 2099
Data columns (total 27 columns):
CustomerId               2100 non-null object
TransactionStartTime     2100 non-null object
Value                    2100 non-null float64
Amount                   2100 non-null float64
TransactionId            2100 non-null object
BatchId                  2100 non-null object
SubscriptionId           2100 non-null object
CurrencyCode             2100 non-null object
CountryCode              2100 non-null int64
ProviderId               2100 non-null object
ProductId                2100 non-null object
ProductCategory          2100 non-null object
ChannelId                2100 non-null object
TransactionStatus        2100 non-null int64
IssuedDateLoan           1488 non-null object
AmountLoan               1488 non-null float64
Currency                 1488 non-null object
LoanId                   1488 non-null object
PaidOnDate               1488 non-null object
IsFinalPayBack           1488 non-null float64
InvestorId               1488 non-null object
DueDate                  1486 non-null object
LoanApplicationId        1483 non-null object
PayBackId                1488 non-null object
ThirdPartyId             1486 non-null object
IsThirdPartyConfirmed    1488 non-null float64
IsDefaulted              1488 non-null float64
dtypes: float64(6), int64(2), object(19)
memory usage: 443.1+ KB

In [6]:
train.isnull().sum()

CustomerId                 0
TransactionStartTime       0
Value                      0
Amount                     0
TransactionId              0
BatchId                    0
SubscriptionId             0
CurrencyCode               0
CountryCode                0
ProviderId                 0
ProductId                  0
ProductCategory            0
ChannelId                  0
TransactionStatus          0
IssuedDateLoan           612
AmountLoan               612
Currency                 612
LoanId                   612
PaidOnDate               612
IsFinalPayBack           612
InvestorId               612
DueDate                  614
LoanApplicationId        617
PayBackId                612
ThirdPartyId             614
IsThirdPartyConfirmed    612
IsDefaulted              612
dtype: int64

In [7]:
test.isnull().sum()

CustomerId                0
TransactionStartTime      0
Value                     0
Amount                    0
TransactionId             0
BatchId                   0
SubscriptionId            0
CurrencyCode              0
CountryCode               0
ProviderId                0
ProductId                 0
ProductCategory           0
ChannelId                 0
TransactionStatus         0
IssuedDateLoan          427
LoanId                  427
InvestorId              427
LoanApplicationId       427
ThirdPartyId            427
dtype: int64

In [8]:
427 * 5

2135

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 19 columns):
CustomerId              905 non-null object
TransactionStartTime    905 non-null object
Value                   905 non-null float64
Amount                  905 non-null float64
TransactionId           905 non-null object
BatchId                 905 non-null object
SubscriptionId          905 non-null object
CurrencyCode            905 non-null object
CountryCode             905 non-null int64
ProviderId              905 non-null object
ProductId               905 non-null object
ProductCategory         905 non-null object
ChannelId               905 non-null object
TransactionStatus       905 non-null int64
IssuedDateLoan          478 non-null object
LoanId                  478 non-null object
InvestorId              478 non-null object
LoanApplicationId       478 non-null object
ThirdPartyId            478 non-null object
dtypes: float64(2), int64(2), object(15)
memory usage: 134.5+ KB

In [10]:
train.dropna(inplace=True)
test.dropna(inplace=True)

In [11]:
train.drop(['TransactionId', 'SubscriptionId', 'CurrencyCode','CountryCode',
            'PayBackId','ThirdPartyId',"InvestorId"],axis=1,inplace=True)

In [12]:
test.drop(['TransactionId','SubscriptionId', 'CurrencyCode','CountryCode',
           'ThirdPartyId',"InvestorId"],axis=1,inplace=True)

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1479 entries, 15 to 2099
Data columns (total 20 columns):
CustomerId               1479 non-null object
TransactionStartTime     1479 non-null object
Value                    1479 non-null float64
Amount                   1479 non-null float64
BatchId                  1479 non-null object
ProviderId               1479 non-null object
ProductId                1479 non-null object
ProductCategory          1479 non-null object
ChannelId                1479 non-null object
TransactionStatus        1479 non-null int64
IssuedDateLoan           1479 non-null object
AmountLoan               1479 non-null float64
Currency                 1479 non-null object
LoanId                   1479 non-null object
PaidOnDate               1479 non-null object
IsFinalPayBack           1479 non-null float64
DueDate                  1479 non-null object
LoanApplicationId        1479 non-null object
IsThirdPartyConfirmed    1479 non-null float64
IsDefaulted              1479 non-null float64
dtypes: float64(6), int64(1), object(13)
memory usage: 242.6+ KB

In [14]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 478 entries, 0 to 898
Data columns (total 13 columns):
CustomerId              478 non-null object
TransactionStartTime    478 non-null object
Value                   478 non-null float64
Amount                  478 non-null float64
BatchId                 478 non-null object
ProviderId              478 non-null object
ProductId               478 non-null object
ProductCategory         478 non-null object
ChannelId               478 non-null object
TransactionStatus       478 non-null int64
IssuedDateLoan          478 non-null object
LoanId                  478 non-null object
LoanApplicationId       478 non-null object
dtypes: float64(2), int64(1), object(10)
memory usage: 52.3+ KB

In [15]:
train.drop(["Currency","ChannelId","ProviderId"],axis=1,inplace=True)
test.drop(["ChannelId","ProviderId"],axis=1,inplace=True)

In [16]:
def seperatetime(x):
    ans=x.split(" ")
    return ans[1]

In [17]:
train["TransactionTime"]=train["TransactionStartTime"].apply(seperatetime)

In [18]:
test["TransactionTime"]=test["TransactionStartTime"].apply(seperatetime)

In [19]:
train["PaymentTime"]=train["PaidOnDate"].apply(seperatetime)

In [20]:
train["loantimegiven"]=train["IssuedDateLoan"].apply(seperatetime)

In [21]:
test["loantimegiven"]=test["IssuedDateLoan"].apply(seperatetime)

In [22]:
def seperatedate(x):
    ans=x.split(" ")
    return ans[0]

In [23]:
train["TransactionDate"]=train["TransactionStartTime"].apply(seperatedate)

In [24]:
test["TransactionDate"]=test["TransactionStartTime"].apply(seperatedate)

In [25]:
train["PaymentDate"]=train["PaidOnDate"].apply(seperatedate)

In [26]:
train["loandategiven"]=train["IssuedDateLoan"].apply(seperatedate)

In [27]:
test["loandategiven"]=test["IssuedDateLoan"].apply(seperatedate)

In [28]:
train["DueDate"]=train["DueDate"].apply(seperatedate)

In [29]:
train.drop(["PaidOnDate","IssuedDateLoan"],axis=1,inplace=True)

In [30]:
test.drop(["IssuedDateLoan"],axis=1,inplace=True)

In [31]:
train["TransactionTime"] = train["TransactionTime"].str.split(':').apply(lambda x: int(x[0]) * 60 + int(x[1]))

In [32]:
test["TransactionTime"] = test["TransactionTime"].str.split(':').apply(lambda x: int(x[0]) * 60 + int(x[1]))

In [33]:
train["PaymentTime"] = train["PaymentTime"].str.split(':').apply(lambda x: int(x[0]) * 60 + int(x[1]))

In [34]:
train["loantimegiven"] = train["loantimegiven"].str.split(':').apply(lambda x: int(x[0]) * 60 + int(x[1]))

In [35]:
test["loantimegiven"] = test["loantimegiven"].str.split(':').apply(lambda x: int(x[0]) * 60 + int(x[1]))

In [36]:
train['TransactionDate']=pd.to_datetime(train['TransactionDate'],infer_datetime_format=True)

In [37]:
train['DueDate']=pd.to_datetime(train['DueDate'],infer_datetime_format=True)

In [38]:
train['DueDate']=train['DueDate'].dt.month

In [39]:
test['TransactionDate']=pd.to_datetime(test['TransactionDate'],infer_datetime_format=True)

In [40]:
train["loandategiven"]=pd.to_datetime(train["loandategiven"],infer_datetime_format=True)

In [41]:
test["loandategiven"]=pd.to_datetime(test["loandategiven"],infer_datetime_format=True)

In [42]:
train['TransactionMonth']=train['TransactionDate'].dt.month
test['TransactionMonth']=test['TransactionDate'].dt.month

In [43]:
train["PaymentDate"]=pd.to_datetime(train["PaymentDate"],infer_datetime_format=True)
train["PaymentMonth"]=train["PaymentDate"].dt.month

In [44]:
train["loanmonthgiven"]=train["loandategiven"].dt.month
test["loanmonthgiven"]=test["loandategiven"].dt.month

In [45]:
train.head(3)

,CustomerId,TransactionStartTime,Value,Amount,BatchId,ProductId,ProductCategory,TransactionStatus,AmountLoan,LoanId,...,IsDefaulted,TransactionTime,PaymentTime,loantimegiven,TransactionDate,PaymentDate,loandategiven,TransactionMonth,PaymentMonth,loanmonthgiven
15,CustomerId_233,2018-10-22 16:04:25,5000.0,-5000.0,BatchId_775,ProductId_7,airtime,1,5375.0,LoanId_317,...,0.0,964,409,964,2018-10-22,2018-10-30,2018-10-22,10,10,10
17,CustomerId_305,2018-10-23 13:12:23,500.0,-500.0,BatchId_2016,ProductId_7,airtime,1,543.0,LoanId_1619,...,0.0,792,798,792,2018-10-23,2018-10-23,2018-10-23,10,10,10
18,CustomerId_27,2018-10-23 15:20:58,1000.0,-1000.0,BatchId_1675,ProductId_7,airtime,1,1085.0,LoanId_1438,...,0.0,920,926,920,2018-10-23,2018-10-23,2018-10-23,10,10,10

In [46]:
train["LD"]=train["AmountLoan"] - train["Value"]

In [47]:
train.groupby("ProductCategory")["LD"].mean()

ProductCategory
airtime                 -750.483696
data_bundles             512.604520
financial_services        54.666667
movies                  3016.600000
retail               -252608.085106
tv                      -658.886792
utility_bill             759.918605
Name: LD, dtype: float64

In [48]:
def CreateLoanAmount(col):
    ProductCategory=col

    
    if ProductCategory=="airtime" :
        return -751
    elif ProductCategory=="data_bundles":
        return 513
    elif ProductCategory=="financial_services":
        return 55
    elif ProductCategory=="movies":
        return 3017
    elif ProductCategory=="retail":
        return -252608
    elif ProductCategory=="tv":
        return -659
    else:
        return 760

In [49]:
test["AmountLoan"]=test["ProductCategory"].apply(CreateLoanAmount)

In [50]:
test["AmountLoan"]=test["AmountLoan"] + test["Value"]

In [52]:
def CreateDueDate(col):
    loanmonthgiven=col
    
    if loanmonthgiven==12:
        return 1
    else:
        return loanmonthgiven + 1

In [53]:
test["DueDate"]=test["loanmonthgiven"].apply(CreateDueDate)

In [54]:
test.head()

,CustomerId,TransactionStartTime,Value,Amount,BatchId,ProductId,ProductCategory,TransactionStatus,LoanId,LoanApplicationId,TransactionTime,loantimegiven,TransactionDate,loandategiven,TransactionMonth,loanmonthgiven,AmountLoan,DueDate
0,CustomerId_310,2019-03-31 13:33:05,14000.0,-14000.0,BatchId_1144,ProductId_7,airtime,1,LoanId_1027,LoanApplicationId_825,813,813,2019-03-31,2019-03-31,3,3,13249.0,4
1,CustomerId_243,2019-03-31 15:04:09,1000.0,-1000.0,BatchId_1214,ProductId_8,data_bundles,1,LoanId_768,LoanApplicationId_68,904,904,2019-03-31,2019-03-31,3,3,1513.0,4
2,CustomerId_142,2019-03-31 17:31:11,2500.0,-2500.0,BatchId_2150,ProductId_7,airtime,1,LoanId_1067,LoanApplicationId_1223,1051,1051,2019-03-31,2019-03-31,3,3,1749.0,4
3,CustomerId_142,2019-03-31 17:32:15,500.0,-500.0,BatchId_1071,ProductId_7,airtime,1,LoanId_202,LoanApplicationId_633,1052,1052,2019-03-31,2019-03-31,3,3,-251.0,4
4,CustomerId_142,2019-03-31 17:34:41,1000.0,-1000.0,BatchId_2477,ProductId_7,airtime,1,LoanId_533,LoanApplicationId_309,1054,1054,2019-03-31,2019-03-31,3,3,249.0,4

In [55]:
train.drop(["LD","loantimegiven","TransactionDate","loandategiven","Amount"],axis=1,inplace=True)

In [56]:
test.drop(["loantimegiven","TransactionDate","loandategiven","Amount"],axis=1,inplace=True)

In [57]:
train['DueDate']=pd.to_datetime(train['DueDate'],infer_datetime_format=True)

In [58]:
train["DueDate"]=train["DueDate"].dt.month

In [59]:
train["IsDefaulted"].value_counts()

0.0    1303
1.0     176
Name: IsDefaulted, dtype: int64

In [60]:
train[(train["IsDefaulted"]==1) & (train["Value"]>100000)]["ProductCategory"].value_counts()

retail    151
Name: ProductCategory, dtype: int64

In [66]:
train[train["Value"]>50000]["IsDefaulted"].value_counts()

1.0    151
0.0    102
Name: IsDefaulted, dtype: int64

In [62]:
train.drop("TransactionStartTime",axis=1,inplace=True)
test.drop("TransactionStartTime",axis=1,inplace=True)

In [63]:
train.columns

Index(['CustomerId', 'Value', 'BatchId', 'ProductId', 'ProductCategory',
       'TransactionStatus', 'AmountLoan', 'LoanId', 'IsFinalPayBack',
       'DueDate', 'LoanApplicationId', 'IsThirdPartyConfirmed', 'IsDefaulted',
       'TransactionTime', 'PaymentTime', 'PaymentDate', 'TransactionMonth',
       'PaymentMonth', 'loanmonthgiven'],
      dtype='object')

In [64]:
test.columns

Index(['CustomerId', 'Value', 'BatchId', 'ProductId', 'ProductCategory',
       'TransactionStatus', 'LoanId', 'LoanApplicationId', 'TransactionTime',
       'TransactionMonth', 'loanmonthgiven', 'AmountLoan', 'DueDate'],
      dtype='object')

In [334]:
train.drop(['PaymentTime', 'PaymentDate'],axis=1,inplace=True)

In [335]:
train.drop(['IsThirdPartyConfirmed','IsFinalPayBack'],axis=1,inplace=True)

In [336]:
def Suspicious(x):
    if x>50000:
        return 1
    else:
        return 0

In [337]:
train["Suspicious"]=train["Value"].apply(Suspicious)

In [338]:
test["Suspicious"]=test["Value"].apply(Suspicious)

In [339]:
def MoreSus(x):
    if x=="retail":
        return 1
    else:
        return 0

In [340]:
train["MoreSus"]=train["ProductCategory"].apply(MoreSus)

In [341]:
test["MoreSus"]=test["ProductCategory"].apply(MoreSus)

In [342]:
train["MoreSus"]=train["MoreSus"] + train ["Suspicious"] + train["TransactionStatus"]

In [343]:
test["MoreSus"]=test["MoreSus"] + test ["Suspicious"] + test["TransactionStatus"]

In [344]:
train.drop("TransactionStatus",axis=1,inplace=True)
test.drop("TransactionStatus",axis=1,inplace=True)

In [345]:
train["ProductId"]=train["ProductId"].map(train["ProductId"].value_counts().to_dict())
test["ProductId"]=test["ProductId"].map(test["ProductId"].value_counts().to_dict())

In [346]:
train = pd.get_dummies(train, columns = ["ProductCategory"])
test = pd.get_dummies(test, columns = ["ProductCategory"])

In [347]:
train['CustomerId'] =train['CustomerId'].map(train['CustomerId'].value_counts())
test['CustomerId'] =test['CustomerId'].map(test['CustomerId'].value_counts())
test['BatchId'] = test['BatchId'].map(test['BatchId'].value_counts())
train['BatchId'] = train['BatchId'].map(train['BatchId'].value_counts())

In [348]:
test['LoanId'] = test['LoanId'].map(test['LoanId'].value_counts())
train['LoanId'] = train['LoanId'].map(train['LoanId'].value_counts())

In [349]:
test['LoanApplicationId'] = test['LoanApplicationId'].map(test['LoanApplicationId'].value_counts())
train['LoanApplicationId'] = train['LoanApplicationId'].map(train['LoanApplicationId'].value_counts())

In [350]:
train.columns

Index(['CustomerId', 'Value', 'BatchId', 'ProductId', 'AmountLoan', 'LoanId',
       'DueDate', 'LoanApplicationId', 'IsDefaulted', 'TransactionTime',
       'TransactionMonth', 'PaymentMonth', 'loanmonthgiven', 'Suspicious',
       'MoreSus', 'ProductCategory_airtime', 'ProductCategory_data_bundles',
       'ProductCategory_financial_services', 'ProductCategory_movies',
       'ProductCategory_retail', 'ProductCategory_tv',
       'ProductCategory_utility_bill'],
      dtype='object')

In [351]:
train.drop('ProductCategory_movies',axis=1,inplace=True)
test.drop( 'ProductCategory_ticket',axis=1,inplace=True)

In [352]:
test.columns

Index(['CustomerId', 'Value', 'BatchId', 'ProductId', 'LoanId',
       'LoanApplicationId', 'TransactionTime', 'TransactionMonth',
       'loanmonthgiven', 'AmountLoan', 'DueDate', 'Suspicious', 'MoreSus',
       'ProductCategory_airtime', 'ProductCategory_data_bundles',
       'ProductCategory_financial_services', 'ProductCategory_retail',
       'ProductCategory_tv', 'ProductCategory_utility_bill'],
      dtype='object')

In [353]:
train.drop(["PaymentMonth","Suspicious"],axis=1,inplace=True)

In [354]:
test.drop("Suspicious",axis=1,inplace=True)

In [355]:
X=train.drop("IsDefaulted",axis=1)
y=train["IsDefaulted"]

In [177]:
X.head(3)

,CustomerId,Value,BatchId,ProductId,AmountLoan,LoanId,DueDate,LoanApplicationId,TransactionTime,TransactionMonth,loanmonthgiven,MoreSus,ProductCategory_airtime,ProductCategory_data_bundles,ProductCategory_financial_services,ProductCategory_retail,ProductCategory_tv,ProductCategory_utility_bill
15,40,5000.0,1,386,5375.0,1,1,1,964,10,10,1,1,0,0,0,0,0
17,5,500.0,1,386,543.0,1,1,1,792,10,10,1,1,0,0,0,0,0
18,14,1000.0,1,386,1085.0,1,1,1,920,10,10,1,1,0,0,0,0,0

In [178]:
from sklearn.model_selection import train_test_split

In [179]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [358]:
test=test[X.columns]

In [181]:
from sklearn.metrics import auc

In [182]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, BaggingClassifier, AdaBoostClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, classification_report, confusion_matrix, accuracy_score, f1_score
from sklearn.model_selection import StratifiedKFold, KFold, train_test_split

In [183]:
clf = AdaBoostClassifier(n_estimators=1000, random_state=101,learning_rate=0.01)

In [184]:
clf.fit(X,y)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=0.01,
                   n_estimators=1000, random_state=101)

In [185]:
trial=clf.predict_proba(X)[:,1]

In [186]:
roc_auc_score(y,trial)

0.9871494104514058

In [242]:
ada=clf.predict_proba(test)[:,1]

In [243]:
sub2=pd.DataFrame()
sub2["TransactionId"]=transaction
sub2["IsDefaulted"]= ada

In [244]:
sub2.to_csv("default31.csv",index=False)

In [91]:
from sklearn.model_selection import cross_val_score

In [379]:
xgb = XGBClassifier(max_depth=9,colsample_bytree=0.6,min_child_weight=10,learning_rate=0.25,n_estimators=1500,objective = "binary:logistic")
xgb.fit(X_train,y_train)
test_pred=xgb.predict_proba(X_test)[:,1]
print(roc_auc_score(y_test,test_pred))

0.9909502262443439

In [380]:
gboost=xgb.predict_proba(test)[:,1]

In [381]:
sub3=pd.DataFrame()
sub3["TransactionId"]=transaction
sub3["IsDefaulted"]= gboost

In [382]:
sub3.to_csv("default39.csv",index=False)